input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-radius: 100%
}
.answer-question{
  width: 23px !important
}
html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .h1 {
    @apply font-poppins font-bold text-[64px] tracking-[-2%] leading-none;
  }
  .h2 {
    @apply font-poppins font-bold text-[40px] tracking-[-0.02em] leading-none;
  }
  .h3 {
    @apply font-poppins font-bold text-[24px] tracking-[-2%] leading-[1.2];
  }
  .subtitle {
    @apply font-work font-medium text-[20px] tracking-[3%];
  }
  .pretitle {
    @apply font-work font-bold text-[14px] tracking-[5%];
  }
  .small-text {
    @apply font-work font-normal text-[10px] tracking-[3%] leading-[1.4];
  }
  .body {
    @apply font-work font-normal text-[16px] leading-[1.4] text-[#646983];
  }
  .button-text {
    @apply font-work font-bold text-[16px];
  }
  .link {
    @apply font-work font-bold text-[16px] underline;
  }
  .btn-primary {
    @apply button-text bg-primary-500 text-bright shadow-glow rounded-[14px] py-[10px] px-[40px] enabled:hover:bg-primary-700 enabled:focus:bg-primary-700 enabled:focus:border-solid enabled:focus:border-2 enabled:focus:border-primary-300 enabled:focus:shadow-[0px_0px_0px_2px_#EEF1FF] enabled:active:bg-primary-700 enabled:active:border-solid enabled:active:border-4 enabled:active:border-primary-300 enabled:active:shadow-glow disabled:bg-primary-300 disabled:shadow-none;
  }
  .btn-reject{
    @apply button-text bg-bright text-red-400 rounded-[14px] py-[10px] pr-[40px] disabled:shadow-none;
  }
  .btn-deactive{
    @apply button-text bg-gray-200 text-gray-500 rounded-[14px] py-[10px] px-[40px] disabled:shadow-none;
  }
  .btn-secondary {
    @apply button-text bg-bright text-primary-500 rounded-[14px] py-[10px] px-[40px] border-solid border-2 border-primary-500  enabled:hover:bg-primary-50 enabled:focus:bg-primary-50 enabled:focus:border-solid enabled:focus:border-4 enabled:focus:border-primary-300 enabled:focus:shadow-[0px_0px_4px_#EEF1FF] enabled:active:bg-primary-50 enabled:active:border-solid enabled:active:border-2 enabled:active:border-primary-500 enabled:active:shadow-[0px_0px_0px_4px_#8B98E5] disabled:border-solid disabled:border-[1px] disabled:border-primary-50 disabled:text-neutral-100 disabled:font-normal;
  }
  .btn-text {
    @apply button-text bg-bright text-primary-500 rounded-[14px] py-[10px] px-[40px] enabled:hover:bg-primary-50 enabled:focus:bg-primary-50 enabled:active:bg-primary-300 disabled:text-neutral-100;
  }
  .btn-icon-primary {
    @apply bg-primary-500 text-bright shadow-glow rounded-[100px] w-[40px] h-[40px] enabled:hover:bg-primary-700 enabled:focus:bg-primary-700 enabled:focus:border-solid enabled:focus:border-2 enabled:focus:border-primary-300 enabled:focus:shadow-[0px_0px_0px_4px_#EEF1FF] enabled:active:bg-primary-700 enabled:active:border-solid enabled:active:border-4 enabled:active:border-primary-300 enabled:active:shadow-glow disabled:bg-primary-300 disabled:shadow-none;
  }
  .btn-icon-secondary {
    @apply bg-bright text-primary-500 rounded-[100px] w-[40px] h-[40px] border-solid border-2 border-primary-500 enabled:hover:bg-primary-50 enabled:focus:bg-primary-50 enabled:focus:border-solid enabled:focus:border-4 enabled:focus:border-primary-300 enabled:focus:shadow-[0px_0px_4px_#EEF1FF] enabled:active:bg-primary-50 enabled:active:border-solid enabled:active:border-2 enabled:active:border-primary-500 enabled:active:shadow-[0px_0px_0px_4px_#8B98E5] disabled:border-solid disabled:border-[1px] disabled:border-primary-50 disabled:text-neutral-100;
  }
  .btn-icon-text {
    @apply bg-bright text-primary-500 rounded-[100px] w-[40px] h-[40px] enabled:hover:bg-primary-50 enabled:focus:bg-primary-50 enabled:active:bg-primary-300 disabled:text-neutral-100;
  }
  .label{
    @apply bg-neutral-50 w-[400px] px-[21px] py-[13px] rounded-[14px] active:border-primary-300 active:bg-bright active:shadow-[0px_0px_0px_4px_#EEF1FF] focus:bg-bright
  }
  .label-form{
    @apply font-work font-normal text-[16px] text-neutral-500
  }
  .text-input{
    @apply bg-neutral-50 w-full px-[21px] py-[13px] rounded-[14px] active:border-primary-300 active:bg-bright active:shadow-[0px_0px_0px_4px_#EEF1FF]  focus:bg-bright text-neutral-500 focus:border-neutral-50 focus:outline outline-offset-1 outline-1 outline-neutral-50
  }
  .text-input:read-only{
    @apply bg-bright border-solid border-[1px] border-neutral-50 text-neutral-300 focus:outline-none
  }
  .file-input{
    @apply text-neutral-500 body w-full file:mr-4 file:px-[21px] file:py-[13px] file:rounded-[14px] file:bg-bright file:border-neutral-50 file:border-solid file:text-neutral-500 hover:cursor-pointer file:hover:cursor-pointer
  }
  .dropdown{
    @apply bg-bright border-neutral-50 border-[1px] rounded-[10px] text-neutral-500 px-[21px] py-[13px]
  }
  .selection-container{
    @apply bg-bright border-neutral-50 border-[1px] rounded-b-[10px] py-[20px] top-[40px]
  }
  .selection-label{
    @apply text-neutral-500 px-[20px] py-[20px] hover:cursor-pointer hover:bg-neutral-50
  }
  .shadow-card{
    @apply shadow-[0px_15px_30px_-9px_#E0E1E6]
  }
  .correct-answer{
    @apply bg-[#EDFCF8]
  }
  .wrong-answer{
    @apply bg-[#FFF0F0]
  }
  input[type="radio"]{
    @apply w-[20px] h-[20px] border-[1px] border-[#E0E1E6]
  }
  input[type="radio"]:checked{
    @apply bg-[#3E54D3] border-0
  }
  .tab{
    @apply body flex-grow
  }
  .tab-selected{
    @apply bg-primary-500 text-bright shadow-glow rounded-[14px] body py-2 font-bold flex-grow
  }
  .toast-success{
    @apply border-l-secondary-500 border-l-8 shadow-lg w-full bg-bright rounded-[14px] px-[24px] py-[24px]
  }
  .toast-error{
    @apply border-l-error-500 border-l-8 shadow-lg w-full bg-bright rounded-[14px] px-[24px] py-[24px]
  }
  .toast-warning{
    @apply border-l-warning-500 border-l-8 shadow-lg w-full bg-bright rounded-[14px] px-[24px] py-[24px]
  }
  .toast-info{
    @apply border-l-primary-500 border-l-8 shadow-lg w-full bg-bright rounded-[14px] px-[24px] py-[24px]
  }
  .loading-spinner{
    @apply w-[50px] h-[50px] border-[10px] border-solid border-primary-50 border-t-[10px] border-t-primary-500 animate-spin rounded-full
  }
}
